@import "../../style/scss/variables.scss";

.rangeInput {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  gap: 20px;
  width: 100%;
  label {
    font-family: $primaryFont;
    font-size: 16px;
  }
  .value {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    left: 50%;
    width: 35px;
    height: 35px;
    transform: translateX(-50%) scale(0.2);
    background-color: transparent;
    border-radius: 50% 50% 50% 50%;
    z-index: 2;
    color: white;
    font-size: 12px;
    font-family: $primaryFont;
    transition: opacity 0.2s, transform 0.2s, top 0.2s;
    opacity: 0;
    &::after {
      position: absolute;
      content: "";
      top: 10%;
      left: 50%;
      width: 30px;
      height: 30px;
      background-color: #2d27dc;
      z-index: -1;
      transform: translateX(-50%) rotate(45deg);
      border-radius: 50% 50% 0 50%;
    }
  }
  input {
    -webkit-appearance: none;
    width: 100%;
    height: 1.5px;
    background-color: rgba(84, 62, 246, 0.38);
    border-radius: 1px;
    cursor: pointer;
    padding-top: 1px;
    padding-bottom: 1px;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 12px;
      height: 12px;
      cursor: pointer;
      z-index: 3;
      position: relative;
      border-radius: 50%;
      transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      &:hover {
        box-shadow: 0px 0px 0px 8px rgba(45, 39, 220, 0.16);
      }
      &:active {
        box-shadow: 0px 0px 0px 13px rgba(45, 39, 220, 0.16);
      }
    }
  }
 .marker {
  position: absolute;
  background-color: #2D27DC;
  width: 2px;
  height: 1.5px;
  bottom: 0;
  z-index: 1;
  border-radius: 1px;
  opacity: 0.8;
  &.light {
    background-color: #fff;
    opacity: 1;
  }
 }
  .costomeElements {
    height: 22px;
    width: 22px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;

    .sliderThumb {
      display: inline-block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 12px;
      height: 12px;
      background-color: #2d27dc;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .progressbar {
    width: 0%;
    height: 1.5px;
    background-color: #2d27dc;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .max,
  .min {
    position: absolute;
    width: 60px;
    height: 20px;
    bottom: -25px;
    left: -5px;
    font-size: 14px;
    font-family: $primaryFont;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #575757;
  }
  .max {
    left: unset;
    right: 0px;
    justify-content: right;

  }
  input:hover  + .value {
    transform: translateX(-50%) scale(1.1);
    top: -15px;
    opacity: 1;
  }

  &.dark {
    label {
      color: wheat;
    }

    .max,
    .min {
      color: wheat;
    }
  }
}
