.settings {
  display: inline-block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 64px;
  overflow-y: scroll;
  &.dark {
    background-color: #111;
  }
  form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    .buttonsGroup {
      width: 100%;
      display: flex;
      flex-direction: column;
      &.dark {
        color: white;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .settings {
    form {
      width: 250px;
    }
  }
}

@media screen and (max-width: 550px) {
  .settings {
    form {
      padding: 24px 32px 0px 32px;
    }
  }
}
